<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mete Demirtas Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;

            setTimeout(function () {
                window.location.href = "/";
            }, 4000);
        }

        function signInCallback(authResult) {
            if (authResult['code']) {
                // Hide the sign-in button now that the user is authorized
                $('#signinButton').attr('style', 'display: none');
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        console.log("Basarili")
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            console.log("Basari 2")
                            setTimeout(function () {
                                window.location.href = "/";
                            }, 4000);

                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }
                });
            }
        }
    </script>

    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <meta name="google-signin-clientid" content="{{CLIENT_ID}}" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta name="google-signin-callback" content="signInCallback" />
    <meta name="google-signin-requestvisibleactions" content="https://schema.org/AddAction" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />

    <div class="login-form">
        <form action="/admin" method="post">
            <h2 class="text-center">Sign in </h2>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="uname" placeholder="Username" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="psw" placeholder="Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
            </div>
            <div class="clearfix">
            </div>
            <div class="or-seperator"><i>or</i></div>
            <div class="text-center social-btn">
                <div id="signinButton" class="g-signin2" data-onsuccess="onSignIn"></div>

            </div>
        </form>
        <p class="text-center text-muted small">Don't have an account? <a href="/adduser">Sign up here!</a></p>
        <p>
            <div id="result">{{hata}}</div>

            <!--<a onclick="signOut();">Sign out</a>-->
        </p>
    </div>

</body>

</html>